{% extends "base.html" %}
{% block content %}
  <h1>Freeshelf</h1>
  <p>Welcome to Freeshelf, developed by <em>Greg Dickson</em>!</p>
  <br>
  <p>Freeshelf is a Library that contains the following:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Categories:</strong> {{ num_categories }}</li>
  </ul>
  <div>
    <div class="category_list">
      <h4 class="title">Books by Category: 
        
              <a href="{{ category.get_absolute_url }}">{{ category.category }}</a>
            {% if not forloop.last %} | {% endif %}
          {% endfor %}
        {% endif %}
      </h4>
    </div>
  </div>

  <h2>Recently Added Books:</h2>
  <ul>
      {% for book in list_of_books %}
      <p><br>
        <a href="{{ book.url }}">{{ book.title}}</a> by {{ book.author }}
      <p>
        {{ book.summary }}
      </p>
      <p>
      </p>
      </p>
      {% endfor %}
  </ul>
{% endblock %}







